@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  #chat-scroll-container {
    overflow-anchor: none;
    height: calc(100% -40px);
  }

  #keep-scroll-at-bottom-anchor {
    overflow-anchor: auto;
    height: 1px;
  }

  .app-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 40px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  .grid-footer { grid-area: 2 / 1 / 3 / 6; }
  .grid-sidebar { grid-area: 1 / 1 / 2 / 2; }
  .grid-chat { grid-area: 1 / 2 / 2 / 4; }
  .grid-composer { grid-area: 1 / 4 / 2 / 6; }
}
